html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background: black;
}

table {
    
}

.hour, .minute, .sec, .empty {

}

.empty {

}

.right {

}

.bottom {

}

.hints {
    
}

.hints.right {
    
}

.hints.bottom {
    
}